@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none!important;
    list-style: none;
    font-family:"Open Sans";
}
.parallax {
    background-image: url("garrett-butler-UrJ-fn2iRUM-unsplash.jpg");
    height: 100vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  
  .tagline{
    color: white;
    font-weight: 400;
  }

  .tag{
    color: white;
    font-weight: 500;
  }

  #about{
    background-color: beige;
  }
  
  .col img{
    height: 400px;
    width: 300px;
    object-fit: cover;
    padding-bottom: 20px;
  }
  
  #about p{
    max-width: 400px;
  }
  
  .image_col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav_container{
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  align-items: start;
  
}

.nav_header{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-bottom: 36px;
  gap:8px;
}
.close_button{
  border:0;
  background-color: transparent;
  color: #000;
  font-size:23px;
  font-weight: 500;
}

.header_mobile{
  top: 0;
  position: absolute;
  width: 100vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  backdrop-filter: blur(4px);
  padding: 0 16px ;



}
.open_button{
  border:0;
  padding: 4px 8px ;
  border-radius: 8px;
  background-color: transparent;

}

.title{
  font-weight: bold;
  color: white;
}

.nav_item{
  color: #33383b;
  font-weight: 600;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 2px transparent solid;
}
.nav_item:hover{
  border-bottom: 2px white solid;
  cursor: pointer;
  background-color: #938274;
  padding:8px 16px ;
  border-radius: 8px;
}

footer {
  position: px;
  bottom: 0;
}

@media (max-height:800px) {
  footer {
      position: static;
  }
  header {
      padding-top: 40px;
  }
}


.footer-distributed {
  background-color:black;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}


.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}


.footer-distributed h3 span {
  color: #ffffff;
}


.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: white;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}


.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: white;
  text-decoration: none;
  ;
}


.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: white;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
  background-color: #3F71EA;
}

.footer-links a:hover {
  color: #3F71EA;
}

@media (max-width: 880px) {
  .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;  
      text-align: center;
  }
  .footer-distributed .footer-center i {
      margin-left: 0;
  }
}

@media (min-width: 1440px) {
  .menu_desktop{
    display:flex;
  }
  .menu_mobile{
    display: none!important;
  }
  .menu_nav{
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    
  }
  .nav_item{
    color: white;
    font-weight: 600;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 2px transparent solid;
  }
  .nav_item:hover{
    border-bottom: 2px white solid;
    cursor: pointer;
    
  }
  .nav_container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    height: 100%;
    align-items: center;
  }
  .header_mobile{
    display: none;
  }
  
  .logo {
    height: 50px;
}
}
